{% extends '::base.html.twig' %}

{% block content %}
<h1>{{ 'сatalog_films'|trans }}</h1>
<ul>
    <li><a href="{{ path('catalog_films_actors') }}">{{ 'actors'|trans }}</a></li>
    <li><a href="{{ path('catalog_films_categories') }}">{{ 'categories'|trans }}</a></li>
    <li><a href="{{ path('catalog_films_films') }}">{{ 'films'|trans }}</a></li>
    <li><a href="{{ path('catalog_films_genres') }}">{{ 'genres'|trans }}</a></li>
</ul>
{% endblock %}